a.bookingBtn {
    color: #a07604;
    background: #000;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #a07604;
    text-transform: uppercase;
    margin: 10px auto;
    font-weight: 600;
    transition: 1s;
    font-size: 0.8rem;
    z-index: 999;
    position: relative;
}

a.bookingBtn:hover{
    color: #fff;
    background: #a07604;
    transition: 1s;
    border: 2px solid #fff;
}

.dropdown-toggle::after{
    border-top: 0.3em solid #a07604 !important;
}

.dropdown-item:focus, 
.dropdown-item:hover{
    background-color: #a07604 !important;
}

.getStarted {
    border: 1px solid #a07604;
    background: transparent;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 15px;
    color: #a07604;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    text-align: center;
    max-width: fit-content;
    margin-bottom: 20px;
    transition: 1s;
}

.getStarted:hover{
    border: 1px solid transparent;
    background: #a07604;
    transition: 1s;
    color: #fff;
}